<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
		body {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 50vh;
			margin: 0;
		}

		.user-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 10px;
            margin-top: 100px;
		}

		.user-image {
			margin-bottom: 5px;
			margin-left: 100px;
			margin-right: 50px;
		}

		.user-name {
			margin-bottom: 5px;
			margin-left: 100px;
			margin-right: 50px;
		}

    </style>

</head>
<body>
<div class="container">
    <div class="text-center">
        <h2 style="color: lightseagreen">Welcome to our Website :)</h2>
        <h5 class="mt-5 mb-5">Are you Admin?Student?</h5>
    </div>
<div class="row mt-5">
    <div class="user-container mt-5 col-6">
        <div class="user-image ">
            <img th:src="@{/img/profilePic.jpg}" src="../static/img/profilePic.jpg" alt="hugenerd" width="50" height="50" class="rounded-circle" />
        </div>
        <div class="user-name">
            <a th:href="@{/admin}" class="fs-5 d-none d-sm-inline">Admin</a>
        </div>

    </div>
    <div class="user-container mt-5 col-6">
        <div class="user-image">
            <img th:src="@{/img/profilePic.jpg}" src="../static/img/profilePic.jpg" alt="hugenerd" width="50" height="50" class="rounded-circle" />
        </div>
        <div class="user-name">
            <a th:href="@{/student}" class="fs-5 d-none d-sm-inline">Student</a>
        </div>
    </div>
</div>


</div>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</body>
</html>