.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	padding: 58px 0 0; /* Height of navbar */
	width: 240px;
	z-index: 600;
	
}

.collapse{
	background-color: #77CACA;
}
.sidebar a{
	background-color: #77CACA;
}